.dragging{
  box-sizing: border-box;
  border: 2px dashed dimgray;
}

td{
  vertical-align: center;
  text-align: center;
  &.fit{
    width: 1px;
  }
}

.full{
  max-height: 100%;
  overflow: hidden;
}

.filedrop{
  height: 300px;
  width: 100%;
  background: adjust-color(red,$alpha:-.3);
  display:flex;
  align-items: center;
  justify-content: center;
}

input[type=file]{
  display: none;
}

.img{
  width: 120px;
  height: 90px;
}
