td{
  vertical-align: center;
  text-align: center;
  &.fit{
    width: 1px;
  }
}

.full{
  max-height: 100%;
  overflow: hidden;
}

.filedrop{
  height: 300px;
  width: 100%;
  border: 2px dashed dimgray;
  display:flex;
  align-items: center;
  justify-content: center;

  &.dragging{
    border: 2px dashed red;
  }
}

input[type=file]{
  display: none;
}

.img{
  width: 120px;
  height: 90px;
}
