<div class="filedrop" [class.dragging]="dragging" appDragAndDrop (dragging)="dragging=$event" (fileAdded)="addFile($event)">
  Drop files here
</div>

<ul>
  <li *ngFor="let file of files">{{file.name}} - {{file.size}} <img class="img" [src]="this.urls[file.name]" alt="file" /></li>
</ul>

<input type="file" (change)="addFileNew($event)" multiple />

<button class="btn btn-primary mr-1" (click)="fileDialogOpen()">Add files</button>
<button class="btn btn-primary" (click)="clear()">Clear</button>
