.dragging{
  box-sizing: border-box;
  border: 2px dashed dimgray;
}

.filedrop{
  height: 300px;
  width: 400px;
  background: adjust-color(teal,$alpha:-.3);
  display:flex;
  align-items: center;
  justify-content: center;
}

input[type=file]{
  display: none;
}

.img{
  width: 120px;
  height: 90px;
}
